.banner-area {
    height: 360px;
    width: 80%;
    margin: 0 auto;
    background: url(../../img/Banner/banner-bg.jpg) center no-repeat
}
.container-banner {
    display: flex;
    align-items: center;
    margin: 0 auto;
   
}