.content-top {
    padding: 10px;
  
}
.content-mid{
    margin-top: 20px;
    padding: 10px;
    min-height: 380px;
}
.content-bot{
    margin-top: 20px;
    padding: 10px;
    min-height: 380px;
}
.order-detail-image {
    height: 80px;
    width: 80px;
}
.btn-submit-order-detail {
    height: 40px;
    width: 130px;
    font-size: 14px;

}