.checkout-cart {
    margin-top: 30px;
}
.select-address {
    >select {
        height: 40px;
        font-size: 14px;
    }
}
.btn-submit-checkout {
    width: 120px;
    height: 40px;
    font-size: 14px;
}