.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    height: 85px;
    background-color: #fff;
}

.header-right-container {
    display: flex;
    align-items: center;

}

.header-left {
    width: 300px;

}

.header-search {
    height: 40px;
    width: 100%;
    border: 1px solid #3333;
    display: flex;
    align-items: center;
    background: #eff0f6;
    border-radius: 6px;
    overflow: hidden;
}

.header-search-body {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}


.header-search--input {
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    padding-left: 8px;
}

.header-right-container div {
    padding: 0 6px;
}

.info-detail {
    display: flex;
    align-items: center;
    width: 162px;
}
.info-detail-name {
    max-width: 102px;
    height: 24px;
    overflow: hidden;
}
.info-detail-image {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-left: 8px;
}
.notification-menu {
   min-width: 210px;
    margin-top: 20px;
}
.notification-item {
    font-size: 16px;
    padding: 4px;
    border-bottom: 1px solid #3333;
    height: 40px;
    display: flex;
    align-items: center;
}
.notification-item-icon {
    font-size: 22px;
    width: 22px;
    height: 22px;
    color: #4bde97;
    
}
.notification-item span {
    margin-left: 10px;
    display: block;
    
}

.dropdown-toggle {
    ::after {
        content: none;
    }
}